


.align-pytorch{
   height: 30vh;
    display: flex;
    justify-content: middle; 
}  

.center-image-pytorch{
    display: block;
    margin: auto;
}
 
.h1-pytorch{
    align-content: center;
    text-align: center;
    align-items: center;
}

.intro-align-pytorch{
    margin-bottom: 255px;
}

.div-general-black-pytorch{
    height:700px;
    background-color: black;
    color: white;
    padding-left: 16px;
}

.div-general-white-pytorch{
    height:700px;
    background-color: white;
    color: black;
    padding-left: 16px;
    margin-top: 36px;
}

.marg-pytorch{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 16px;
}

.card1-pytorch{
    display: block;
    margin-bottom: 16px;
 }

 .div-general-black1-pytorch{
    background-color: black;
    padding: 24px;
    color: white;
    padding-left: 16px;
}

.carousel-height-1{
    overflow: scroll;

}

.carousel-caption-pytorch{
    color: #ec57a9;
    font-weight: bold;
}

.carousel-center-image-pytorch{
    height: 400px;
}


@media screen and (max-width: 768px) {
    .div-general-white-pytorch{
        height: 1110px;
    }

    .space-mobile{
        margin-bottom: 16px;
    }
}

