 
html, body {
    height: 100;
}
.color-shopify{
    color: white;
}
.p-size-shopify{
    font-size: 16px;
}

.color1-shopify{
    color: white;
}
 
.check-shopify{
    align-items: center;
    margin-bottom: 78px;
} 


 .mainPage-shopify{
    width: auto;
    height: auto;
    padding-top: 78px;
    text-align: center;
 }


.j-shopify{
    margin-left: 50px;
}

.space-mobile{
    margin-bottom: 0px;
}

.card-shopify {
    display: flex;
  justify-content: center;
  margin: 78px;
         
}


.col1-shopify{
    background-color: rgb(33, 199, 96);
}

.alignment-shopify{
    display: flex;
    justify-content: flex-end;    
    padding-right: 30px;
}