

.check-iread{
    text-align: left;
}

.h1-iread{
    color: #00b0ff

}

.p-iread{
    font-size: 16px;
}
.container-iread {
    height: 100%;
    width: 255px;
 }

 .div-space-iread{
     margin: 8px;
     padding: 8px
 }

 .container-iread1{
    color: white;
    background-color: #00b0ff;
    text-align: center
}


 