
.center-experience{
    font-weight: bold;
    font-size: 64px;
    text-align: center;
}

.card-experience{
    background-color: white;
    color: black;
    margin-top: 24px;
    margin-bottom: 24px
}

.div-color-experience{
    background-color: #F5F5F5;
}


.color-container-experience {
    color: white;
    background-color: black;
    margin: 16px;
}