 
html, body {
    height: 100;
}

.container-layout {
    height: 100%;
    width: 255px;
    text-align: center;
 }

.ne-layout-layout { 
    width: auto;
    height: 70vh;
    display: flex;
    align-items: center;
}

.hide{
    color: transparent;
    margin-top: 7px;
}


.hide3{
    color: transparent;
    margin-top: 11px;
}
.hide1{
    margin-bottom: 23px;
}

.hide2{
    color: transparent;
    margin-top: 36px;
}  
.ne-layout-others { 
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}

.p-layout {
    font-size:20px;
}

.f-layout{
    font-size:18px;
}

span{
    font-weight: bold ;
}
 
.block-layout  {
    width: 100%;
   }

.Button-layout  {
    width: 100%;
    background-color: red;
}

.card-img-top-layout  {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-layout{
    margin: 78px;
}

.center-layout{
    font-weight: bold;
    font-size: 64px;
    text-align: center;
}

.div-color-layout{
    background-color: #F5F5F5;
}